body {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: #1e2299 !important;
    border-color: #1e2299 !important;
}
    .navbar-inverse .navbar-nav > li > a {
        color: white;
        font-size: 14px;
    }

    .navbar-inverse .navbar-brand {
        color: #3fb74e !important;
    }



@media (min-width: 1600px) {
    .container {
        width: 1570px;
    }

    .app {
        width: 285px;
        height: 250px;
    }
}

@media (max-width: 1599px) and (min-width: 1200px) {
    .dpr input {
        width: 120%;
    }

    .dpr i {
        right: -20px;
    }
}


.form-inline > .form-group {
    margin-right: 0;
    margin-left: 0;
}

    .form-inline > .form-group > .row {
        margin-right: 0;
        margin-left: 0;
    }

.form-inline > .deleteRow {
    vertical-align: bottom;
}

.input-default-narrow {
    max-width: 80px;
}